Change: 'createSpatialTable'
------------------------------------

TODO: Enter a description

Available Attributes
--------------------

<table>
   <tr>
      <th>Attribute</th>
      <th>Description</th>
      <th>Required For</th>
   </tr>
   <tr>
      <td>catalogName</td>
      <td>The name of the catalog.</td>
      <td></td>
   </tr>
</table>

```XML
<changeSet id="1" author="bob">
   TODO: Provide an example.
</changeSet>
```
