Precondition: 'Spatial Supported'
------------------------------------

This precondition requires no attributes and indicates if the database appears to be in a state to
support storing and indexing spatial data.

```XML
<preConditions>
   <spatial:spatialSupported />
</preConditions>
```
